@import '../../../_css/common';

.orders {
  display: flex;
  flex-direction: column;
  margin-top: var(--base);
  margin-bottom: var(--block-padding);
}

.orderDescription {
display: grid;
grid-template-columns: 0.5fr 2fr;

@include small-break {
  row-gap: 18px;
  column-gap: 10px;
}
}

.orderTitle {
  font-size: var(--base);
  font-weight: 700;

  @include small-break {
    font-size: calc(var(--base) / 1.7);
  }
}

.orderText {
  font-weight: 600;

  @include small-break {
    font-size: calc(var(--base) / 1.7);
  }
}

.orderTextValue {
  @include small-break {
    font-size: calc(var(--base) / 2);
  }
}

.id {
  word-break: break-all;

}



.itemMeta {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);

  & > * {
    margin: 0;
  }
}

.total {
  margin-top: 20px;
  font-weight: 700;

  @include small-break {
    font-size: calc(var(--base) / 1.7);
  }
}

.orderItems {
  margin: 0;
  margin-bottom: var(--base);
}

.row {
  display: flex;
  align-items: center;
  gap: calc(var(--base) * 2);
  width: 100%;

  @include small-break {
    gap: 14px;
  }
}

.rowContent {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  width: 100%;

  & > * {
    margin: 0;
  }
}


.warning {
  margin: 0;
  color: var(--theme-warning-500);
}

:global([data-theme="light"]) {
  .warning {
    color: var(--theme-error-500);
  }
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {

  width: 100px;
  height: auto;
  object-fit: contain;

 @include small-break {
  width: 50px;
}
}

.productWrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.productTitle {
  margin: 0;

  @include small-break {
    font-size: calc(var(--base) / 1.8);
  }
}

.productQty {
  justify-self: end;

  @include small-break {
    font-size: calc(var(--base) / 1.8);
  }
}

.titleLink {
  text-decoration: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2);

  @include small-break {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}

